{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center" id="user_edit_form_container">
  <div class="col-md-6">
    <h2 class="text-center join-message">Edit Profile</h2>
    <form method="POST" id="user_edit_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' and field.name != 'private' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <label class="font-weight-bold">{{field.label.text}}</label>
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <div class="form-group">
        <div class="custom-control custom-switch">
          {% if form.private.errors %}
          {% for error in form.private.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
          {% endif %}
          {{ form.private(class="custom-control-input", id="private") }}
          <label class="custom-control-label font-weight-bold" for="private">Private Account</label>
        </div>
      </div>
      <hr class="my-4"/>


      <label class="font-weight-bolder">To confirm changes, enter your password:</label>
      {% if form.password.errors %}
      {% for error in form.password.errors %}
      <span class="text-danger">
        {{ error }}
      </span>
      {% endfor %}
      {% endif %}
      {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

      <div class="edit-btn-area">
        <button class="btn btn-success">Save</button>
        <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}